@charset "UTF-8";
:root {
  --letra-general: "Open Sans", sans-serif;
  --color-main-text: #222222;
  --color-primary-element-text: #ffffff;
  --color-main-background-blur: rgba(255, 255, 255, .8);
  --filter-background-blur: blur(25px);
  --box-shadow-form: 0 0 10px rgba(77, 77, 77, .5);
}

html {
  box-sizing: border-box;
  /*El 100% = 16px (tamaño de letra por defecto), entonces el 62.5% = 10px*/
  font-size: 62.5%;
}

*,
*::before,
*:after {
  /*inherit hereda el box-sizing de su elemento padre que puede ser cualquier elemento, por ejemplo un div*/
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: var(--letra-general);
  background-image: url(../images/clouds.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vh;
}
.login-logo {
  margin-bottom: 20px;
}
.login-logo-img {
  width: 180px;
}
.login-form {
  width: 320px;
  height: 312px;
  padding: 12px;
  background: var(--color-main-background-blur);
  -webkit-backdrop-filter: var(--filter-background-blur);
          backdrop-filter: var(--filter-background-blur);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 28px;
  box-shadow: var(--box-shadow-form);
  font-size: 1.5rem;
}
.login-form-title {
  color: var(--color-main-text);
  font-size: 2rem;
  text-align: center;
  margin: 8px 0 20px;
}
.login-form-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 8px;
}
.login-form-user input {
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #949494;
}
.login-form-user input:hover {
  border-color: #006aa3;
  transition: 0.3s;
}
.login-form-pssw {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 8px;
}
.login-form-pssw input {
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #949494;
}
.login-form-pssw input:hover {
  border-color: #006aa3;
  transition: 0.3s;
}
.login-form-submit {
  background-color: #006aa3;
  color: var(--color-primary-element-text);
  padding: 12px;
  border-radius: 24px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.login-form-submit:hover {
  background: #3287b5;
  transition: 0.3s;
}

.footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 24px;
  font-size: 1.4rem;
}
.footer-info {
  text-align: center;
  background: var(--color-main-background-blur);
  -webkit-backdrop-filter: var(--filter-background-blur);
          backdrop-filter: var(--filter-background-blur);
  color: var(--color-main-text);
  padding: 12px 12px;
  border-radius: 20px;
  width: 320px;
  box-shadow: var(--box-shadow-form);
}
.footer-info-name {
  font-weight: 700;
}/*# sourceMappingURL=style-login.css.map */