:root {
  --letra-general: "Open Sans", sans-serif;
  --color-main-text: #222222;
  --color-primary-element-text: #ffffff;
  --color-primary-element-text-opacity: #ffffffb6;
  --color-main-background-blur: rgba(255, 255, 255, 0.8);
  --filter-background-blur: blur(25px);
  --box-shadow-form: 0 0 10px rgba(77, 77, 77, 0.5);
  --color-hover-botom: #f5f5f5;
  --background-button: #e5f0f5;
  --hover-menu-new: #f5f5f5;
  --border: 1px solid #e2e2e2;
  --color-icons-details: #929292;
  --background-item-selected: #e5f0f5;
}

html {
  box-sizing: border-box;
  /*El 100% = 16px (tamaño de letra por defecto), entonces el 62.5% = 10px*/
  font-size: 62.5%;
}

*,
*::before,
*:after {
  /*inherit hereda el box-sizing de su elemento padre que puede ser cualquier elemento, por ejemplo un div*/
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.contain {
  width: 100vw;
  height: 100vh;
  padding: 8px;
  background: url(../images/clouds.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: var(--letra-general);
}

.header {
  width: 100%;
  height: 6%;
  //background: rgba(255, 0, 0, 0.473);
  display: flex;
  align-items: center;
  color: var(--color-primary-element-text-opacity);

  &-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;

    &-left {
      display: flex;
      align-items: center;
      gap: 12px;

      &-logo {
        width: 75px;
      }

      ul {
        display: flex;
        gap: 12px;

        & > .header-navbar-left-item {
          //background-color: yellow;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          span {
            width: 45px;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
          }

          &:hover {
            color: var(--color-primary-element-text);
          }
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      height: 100%;

      ul {
        height: 100%;
        display: flex;
        align-items: center;
        //background: yellowgreen;
        gap: 24px;

        & .header-navbar-right-item {
          //background-color: aqua;
          cursor: pointer;

          &:hover {
            color: var(--color-primary-element-text);
          }

          &-user {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(192, 60, 185);
            font-size: 2.3rem;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.main {
  width: 100%;
  height: 94%;
  background: var(--color-main-background-blur);
  backdrop-filter: var(--filter-background-blur);
  display: flex;
  border-radius: 28px;
  font-size: 1.5rem;

  &-navigation {
    //background: var(--color-main-background-blur);
    //backdrop-filter: var(--filter-background-blur);
    height: 100%;
    flex: none;
    width: 320px;
    padding: 16px;

    &-docs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      ul {
        //background: rgb(144, 208, 250);
        display: flex;
        flex-direction: column;
        gap: 16px;
        display: flex;

        & > .main-navigation-docs-item {
          cursor: pointer;
          & > .main-navigation-docs-item-name {
            //background-color: red;
            display: flex;
            align-items: center;
            padding: 12px;
            flex-wrap: wrap;

            &:hover {
              padding: 12px;
              background: var(--color-hover-botom);
              border-radius: 24px;
            }
            & > .material-symbols-outlined {
              font-size: 1.7rem;
              margin-right: 12px;
            }
          }

          .progress {
            width: 100%;
          }
        }
      }
    }
  }

  &-content {
    background: #fff;
    height: 100%;
    flex: 2;
    padding: 4px 8px 0 8px;
    color: var(--color-main-text);

    &-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-left {
        display: flex;
        gap: 12px;
        align-items: center;

        &-new {
          & > button {
            padding: 12px 24px;
            background: var(--background-button);
            border-radius: 20px;
            border: none;
            font-weight: 700;
            display: flex;
            align-items: center;
            cursor: pointer;
            //margin-top: 8px;

            & > span {
              margin-right: 4px;
            }
          }

          &-menu {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.452);
            z-index: 2;
            display: grid;
            place-content: center;

            & > form {
              padding: 8px 16px;
              box-shadow: var(--box-shadow-form);
              border-radius: 8px;
              background: #fff;
              display: flex;
              flex-direction: column;

              & > .title-closed {
                //background-color: #006aa3;
                display: flex;
                //gap: 16px;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 4px;

                & > h3 {
                  font-weight: 700;
                  font-size: 1.6rem;
                }

                & > span{
                  cursor: pointer;
                }
              }

              & > .input-name-new-element {
                margin: 16px 0;
                
                & > h4{
                  font-weight: 400;
                  margin: 4px;
                }

                & > #name-new-element {
                  padding: 8px 4px;
                  width: 100%;
                  border: 2px solid #949494;
                  border-radius: 4px;
                }
              }

              & > .options-new-elements {
                //background-color: brown;
                display: flex;
                flex-direction: column;
                align-items: star;
                //padding: 12px;
                //border-radius: 8px;
                gap: 2px;

                & .material-symbols-outlined {
                  font-size: 2rem;
                  margin: 0 4px 0 12px;
                }

                & > label {
                  display: flex;
                  align-items: center;
                  padding: 12px;
                  border-radius: 8px;
                  cursor: pointer;

                  &:hover {
                    background: var(--hover-menu-new);
                  }

                  &:nth-child(3) {
                    & > .material-symbols-outlined {
                      color: #49abea;
                    }
                  }

                  &:nth-child(4) {
                    & > .material-symbols-outlined {
                      color: #f0965f;
                    }
                  }

                  &:nth-child(5) {
                    & > .material-symbols-outlined {
                      color: #ebc94a;
                    }
                  }
                }
              }

              & > .create-new-element{
                background-color: #0082c8;
                width: 100%;
                padding: 8px;
                border: none;
                border-radius: 4px;
                margin: 8px 0;
                color: var(--color-primary-element-text);
                font-weight: 700;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    &-docs {
      width: 100%;
      height: 100%;
      margin-top: 8px;
      //background-color: #f0975f79;

      .accions-group{
        //background: #f0965f;
        font-weight: 700;
        margin-left: 8px;

        button{
          background-color: #006aa3;
          padding: 8px;
          color: var(--color-primary-element-text);
          border: none;
          border-radius: 4px;
          margin-left: 8px;
          cursor: pointer;
        }
      }

      & > .docs {
        //table
        //background-color: red;
        width: 100%;
        display: flex;
        flex-direction: column;

        & > .docs-title { //thead
          //background-color: green;
          //padding: 30px 0;

          & > tr {
            width: 100%;
            display: grid;
            grid-template-columns: 0.5fr 7fr 1fr 1.5fr 2fr 1fr;
            //background-color: darkgoldenrod;
            height: 4.5rem;
            font-weight: 300;
            border-bottom: var(--border);
            //font-size: 1rem;

            & > th {
              //border: 1px solid #000000;
              //background-color: #ebc94a;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          
        }

        & > .docs-body {
          //tbody
          //background-color: aquamarine;

          .docs-body-tr{
            //background-color: #f5f5f5;

            &:hover{
              background-color: #f5f5f5;
            }

          }

          & > tr {
            width: 100%;
            display: grid;
            grid-template-columns: 0.5fr 17fr 0.5fr 1.5fr 2fr 0.5fr;
            height: 5rem;
            border-bottom: var(--border);
            cursor: pointer;

            & > td {
              //border: 1px solid #000;
              display: flex;
              align-items: center;
              justify-content: center;
              //padding-left: 8px;

              & > .material-symbols-outlined {
                font-size: 3rem;
              }

              & > p{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }

              & > input {
                opacity: 0.3;
                height: 1.6rem;
                width: 1.6rem;
                border-radius: 1px;
                z-index: 2;

                &:checked {
                  background: #0082c9;
                }
              }

              & > span {
                margin-right: 8px;
              }

              /*& > p {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                color: #0082c9;
                background-color: rgb(192, 236, 238);
              }*/

              & > .folder {
                color: #0082c9;
              }

              & > .docx {
                color: #49abea;
              }

              & > .pptx {
                color: #f0965f;
              }

              & > .dwg {
                color: #ebc94a;
              }
            }

            & > td:nth-child(2),
            td:nth-child(5) {
              //background-color: yellowgreen;
              justify-content: start;
              padding-left: 8px;
            }

            & > td:nth-child(4) {
              //background-color: yellowgreen;
              justify-content: end;
              padding-right: 8px;
            }

            & > td:nth-child(6){
              & > span{
                color: #00000094;
              
                &:hover{
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
  }

  &-details {
    background: #fff;
    height: 100%;
    flex: 0.75;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-left: var(--border);

    &-title {
      display: flex;
      justify-content: space-between;
      //background-color: red;

      &-icon {
        //background-color: greenyellow;
        position: relative;

        span:nth-child(1) {
          //background-color: red;
          font-size: 7rem;

        }

        span:nth-child(2) {
          background-color: var(--background-button);
          color: #fff;
          padding: 0;
          margin: 0;
          font-size: 2rem;
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &-name {
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        //gap: 4px;
      }

      .icon-close{
        cursor: pointer;
        background: none;
      }
    }

    &-menu {
      //background-color: #f0965f;
      display: flex;
      padding-bottom: 8px;
      margin: 28px 0;
      
      &-list {    //ul
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        color: var(--color-icons-details);

        &-item {      //li
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          border-bottom: var(--border);
          //padding-bottom: 8px;
          flex: 1;

          & > .material-symbols-outlined {
            margin-bottom: 4px;
          }

          &:hover {
            color: var(--color-main-text);
            transition: 0.1s;
            border-bottom: 2px solid #929292;
          }
        }
      }
    }

    &-share {
      //background: #6d4c6a;

      &-list {   //ul
        //background-color: bisque;

        &-item {   //li
          //background-color: cadetblue;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          text-align: center;

          & > span {
            font-size: 6rem;
            margin-bottom: 8px;
          }
        }

        & > .links {
          //background-color: rgb(187, 187, 28);

          & > .publicLink {
            //background-color: chocolate;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            & > div:nth-child(1) {
              display: flex;
              align-items: center;

              & > .material-symbols-outlined {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: #006aa3;
                color: var(--color-primary-element-text);
                display: grid;
                place-content: center;
                margin-right: 8px;
              }
            }

            &  .generate-link{
              cursor: pointer;

              &:hover{
                background-color: var(--background-button);
                border-radius: 50%;
              }
            }
          }

          & > .owner {
            //background-color: #e5f0f5;
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            & > span {
              background: aquamarine;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              display: grid;
              place-content: center;
              margin-right: 8px;
            }
          }
          & > .thanks {
            //background: rgb(211, 126, 126);

            & > form{
              display: flex;
              align-items: center;
            }

            & input:nth-child(1) {
              //width: 100%;
              flex: 3;
              padding: 10px 8px;
              border-radius: 8px 0 0 8px;
              border: 2px solid #a8a8a8;
              border-right: none;
              //margin-bottom: 8px;

              &:focus{
                outline: none;
              }
            }

            & input:nth-child(2) {
              flex: 1;
              padding: 10px 8px;
              border-radius: 0px 8px 8px 0;
              border: 2px solid #a8a8a8;
              border-left: none;
              background: #0082c8;
              color: var(--color-primary-element-text);
            }
            
            .find-people{
              //background: #49abea;
              margin-top: 16px;
              display: flex;
              flex-direction: column;
              padding: 12px;
              border: 2px solid #a8a8a8;
              border-radius: 8px;

              & > span:nth-child(1) {
                font-size: 5rem;
                margin-bottom: 8px;
              }

              .close-find-people{
                position: absolute;
                right: 20px;
                cursor: pointer;
                opacity: .7;
              }
            }

            .error-find-people{
              //background-color: rosybrown;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #e9322d;
            }
          }

          .thanks-generate-link {
            border: 2px solid #a8a8a8;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 8px;
            margin-top: 16px;

            & > span {
              font-size: 5rem;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}

.rotate{
  transform: rotate(45deg);
  transition: .4s;
}

.rotate-reset{
  transform: none;
  transition: .4s;
}

.inactive {
  display: none !important;
}

.item-focus{
  color: var(--color-main-text);
  padding-bottom: 8px;
  border-bottom: 2px solid #0082c8;
}

.selected{
  background: var(--background-item-selected);
}

@media (max-width: 700px) {
  .main-navigation {
    display: none;
  }

  th:nth-child(4),
  th:nth-child(5) {
    display: none !important;
  }

  td:nth-child(4),
  td:nth-child(5) {
    display: none !important;
  }

  .docs-body tr {
    grid-template-columns: 0.5fr 6fr 1fr 1fr !important;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .main-navigation {
    width: 230px;
  }

  th:nth-child(5) {
    display: none !important;
  }

  td:nth-child(5) {
    display: none !important;
  }

  .main-content-docs > .docs > .docs-body tr {
    grid-template-columns: 0.5fr 4fr 0.5fr 1fr 0.5fr;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .main-navigation {
    width: 240px;
    //background-color: #929292 !important;
  }

  .main-details{
    flex: 1.5;
  }

  .main-content-docs > .docs > .docs-body tr {
    grid-template-columns: 0.4fr 3.5fr 0.4fr 1fr 1fr 0.4fr;
  }
}

@media (min-width: 1201px) and (max-width: 1400px){
  /*.main-navigation {
    width: 240px;
    //background-color: #929292 !important;
  }*/

  .main-details{
    flex: 1;
  }

  .main-content-docs > .docs > .docs-body tr {
    grid-template-columns: 0.4fr 6.5fr 0.4fr 1fr 1fr 0.4fr;
  }
}

@media (min-width: 1401px) and (max-width: 1600px){
  /*.main-navigation {
    width: 240px;
    //background-color: #929292 !important;
  }*/

  .main-details{
    flex: 0.85;
  }

  .main-content-docs > .docs > .docs-body tr {
    grid-template-columns: 0.4fr 7fr 0.4fr 1fr 1fr 0.4fr;
  }
}
