@charset "UTF-8";
:root {
  --letra-general: "Open Sans", sans-serif;
  --color-main-text: #222222;
  --color-primary-element-text: #ffffff;
  --color-primary-element-text-opacity: #ffffffd2;
  --color-main-background-blur: rgba(255, 255, 255, 0.8);
  --filter-background-blur: blur(25px);
  --box-shadow-form: 0 0 10px rgba(77, 77, 77, 0.5);
  --color-hover-botom: #f5f5f5;
}

html {
  box-sizing: border-box;
  /*El 100% = 16px (tamaño de letra por defecto), entonces el 62.5% = 10px*/
  font-size: 62.5%;
}

*,
*::before,
*:after {
  /*inherit hereda el box-sizing de su elemento padre que puede ser cualquier elemento, por ejemplo un div*/
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.contain {
  width: 100vw;
  height: 100vh;
  padding: 8px;
  background: url(../images/clouds.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: var(--letra-general);
}

.header {
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
  color: var(--color-primary-element-text-opacity);
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
}
.header-navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-navbar-left-logo {
  width: 75px;
}
.header-navbar-left ul {
  display: flex;
  gap: 12px;
}
.header-navbar-left ul > .header-navbar-left-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-navbar-left ul > .header-navbar-left-item span {
  width: 45px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
.header-navbar-right {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-navbar-right ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-navbar-right ul .header-navbar-right-item {
  cursor: pointer;
}
.header-navbar-right ul .header-navbar-right-item-user {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(192, 60, 185);
  font-size: 2.3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.main {
  width: 100%;
  height: 94%;
  background: var(--color-main-background-blur);
  -webkit-backdrop-filter: var(--filter-background-blur);
          backdrop-filter: var(--filter-background-blur);
  display: flex;
  border-radius: 28px;
  font-size: 1.5rem;
}
.main-navigation {
  height: 100%;
  flex: none;
  width: 320px;
  padding: 16px;
}
.main-navigation-docs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main-navigation-docs ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  display: flex;
}
.main-navigation-docs ul > .main-navigation-docs-item {
  cursor: pointer;
}
.main-navigation-docs ul > .main-navigation-docs-item > .main-navigation-docs-item-name {
  display: flex;
  align-items: center;
  padding: 12px;
  flex-wrap: wrap;
}
.main-navigation-docs ul > .main-navigation-docs-item > .main-navigation-docs-item-name:hover {
  padding: 12px;
  background: var(--color-hover-botom);
  border-radius: 24px;
}
.main-navigation-docs ul > .main-navigation-docs-item > .main-navigation-docs-item-name > .material-symbols-outlined {
  font-size: 1.7rem;
  margin-right: 12px;
}
.main-navigation-docs ul > .main-navigation-docs-item .progress {
  width: 100%;
}
.main-content {
  background: rgb(140, 80, 158);
  height: 100%;
  flex: 2;
}
.main-details {
  background: rgb(192, 201, 115);
  height: 100%;
  flex: 1.05;
}

.inactive {
  display: none;
}/*# sourceMappingURL=style-interfaz.css.map */